h1:hover, h1:active {
    -ms-transform: scale(2.5,2.5); /* IE 9 */
    -webkit-transform: scale(2.5,2.5); /* Safari */
    transform: scale(2.5,2.5);
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    color : #fff;
    -webkit-transition: transform .3s;
    transition: transform .3s;
    z-index:4;
}
#releas:hover, #releas:active {
    -ms-transform: scale(.30,.25); /* IE 9 */
    -webkit-transform: scale(.30,.25); /* Safari */
    transform: scale(.30,.25);
}
#releas1:hover, #releas1:active {
    -ms-transform: scale(.30,.25); /* IE 9 */
    -webkit-transform: scale(.30,.25); /* Safari */
    transform: scale(.30,.25);
}
#entered:hover, #entered:active {
    -ms-transform: scale(.45,.45); /* IE 9 */
    -webkit-transform: scale(.45,.45); /* Safari */
    transform: scale(.45,.45);
}
#slider img:hover, #slider img:active {
	box-shadow: 0px 0px 10px white;
}
#about .close:hover, #about .close:active {
    -ms-transform: scale(.35,.35); /* IE 9 */
    -webkit-transform: scale(.35,.35); /* Safari */
    transform: scale(.35,.35);
}