header{
	display:none;
}
h1 {
	text-align: left;
	color : #ae0210;
	width:1600px;
	z-index: 1;
	font-family: "Nanum Myeongjo";
}
body {
	margin : 0 0;
	background-color: #bd8e94;
	color:white;
	font-family: "Nanum Gothic Coding";
	text-align: center;
}
div {
	margin: 0 0;
}
ul {
	margin : 0 0;
}
footer {
	margin: 0 0;
	height: 0;
	z-index: 5;
}